.faqComponent {
  font-family: Poppins;
  header {
    display: flex;
    height: 25px;
    align-items: center;
    justify-content: space-between;

    h5 {
      font-weight: 700;
      font-size: 20px;
      line-height: 25.28px;
      letter-spacing: 0%;
    }
    .img {
      width: 18px;
      height: 18px;
    }
  }

  .faq-content {
    font-weight: 400;
    margin-top: 20px;
    font-size: 14px;
    line-height: 20.28px;
    letter-spacing: 0%;
    width: 80%;
  }

  .faq-list-content {
      width: 75%;
    h6 {
    }

    ul {
      list-style-type: disc; // Ensures black dot bullets
      padding-left: 20px;
      li {
      }
    }
  }
}
