.contactContainer {
  font-family: Poppins;
  width: 957px;
  height: 707px;
  margin: 106px auto 117px auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;

  header {
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 45.5px;
    letter-spacing: 0%;
    text-align: center;
  }

  .contactSubContainer {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;

    .leftHandSide {
      background: linear-gradient(
        180deg,
        rgba(255, 90, 60, 0.5) 0%,
        #ff5a3c 100%
      );
      border-radius: 10px;
      width: 100%;
      padding: 63px 0 0 60px;

      .content {
        width: fit-content;
        height: 370px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
    }

    .rightHandSide {
      background-color: #fff;
      border-radius: 10px;
      width: 100%;
      box-shadow: 2px 2px 40px 0px #0000001a;
      padding: 26.5px 35px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 54px;

      h1 {
        font-weight: 700;
        font-size: 20px;
        line-height: 25.28px;
        letter-spacing: 0%;
        text-align: center;
      }

      .form {
        width: 100%;
        background: #fff;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .form-item {
          .text-area {
            resize: none;
            height: 132px;
          }
        }
        button {
          background-color: #000000;
          color: white;
          border-radius: 1000px;
          margin: 0 auto;
          padding: 10px 15px;
          width: fit-content;
        }
      }
    }
  }
}
