

.loading-bar-container {
  width: 100%;
  height: 4px;
  background-color: #e0e0e0;
  top: 0;
  left: 0;

}

.loading-bar {
  height: 100%;
  background-color: #000;
  transition: width 0.1s ease-in-out;
}
.main-loading-container {
  width: 500px;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
